[Desktop Entry]
Name=Snigdha-OS
X-KDE-PluginInfo-Name=Snigdha-OS
X-KDE-PluginInfo-Author=Eshan Roy
X-KDE-PluginInfo-Email=m.eshanized@gmail.com
X-KDE-PluginInfo-License=MIT
